Used Car Price Prediction
1) Problem statement.
This dataset comprises used cars sold on cardehko.com in India as well as important features of these cars.
If user can predict the price of the car based on input features.
Prediction results can be used to give new seller the price suggestion based on market condition.
2) Data Collection.
The Dataset is collected from scrapping from cardheko webiste
The data consists of 13 column and 15411 rows.

In [518]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [519]:
#loading dataset
df=pd.read_csv('cardekho_imputated.csv',index_col=[0])

In [520]:
df.head()

,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [521]:
df.isnull().sum()

car_name             0
brand                0
model                0
vehicle_age          0
km_driven            0
seller_type          0
fuel_type            0
transmission_type    0
mileage              0
engine               0
max_power            0
seats                0
selling_price        0
dtype: int64

In [522]:
num_features=df.select_dtypes(exclude='object').columns
cat_features=df.select_dtypes(include='object').columns

In [523]:
# cat_features=[feature for feature in df.columns if df[feature].dtype=='O']
# num_features

In [524]:
num_features

Index(['vehicle_age', 'km_driven', 'mileage', 'engine', 'max_power', 'seats',
       'selling_price'],
      dtype='object')

In [525]:
cat_features

Index(['car_name', 'brand', 'model', 'seller_type', 'fuel_type',
       'transmission_type'],
      dtype='object')

In [526]:
df.car_name.value_counts()

car_name
Hyundai i20           906
Maruti Swift Dzire    890
Maruti Swift          781
Maruti Alto           778
Honda City            757
                     ...
Mercedes-AMG C          1
Tata Altroz             1
Ferrari GTC4Lusso       1
Hyundai Aura            1
Force Gurkha            1
Name: count, Length: 121, dtype: int64

In [527]:
df.brand.value_counts()

brand
Maruti           4992
Hyundai          2982
Honda            1485
Mahindra         1011
Toyota            793
Ford              790
Volkswagen        620
Renault           536
BMW               439
Tata              430
Mercedes-Benz     337
Skoda             334
Audi              192
Datsun            170
Jaguar             59
Land Rover         51
Jeep               41
Kia                32
Porsche            21
Volvo              20
MG                 19
Mini               17
Nissan             11
Lexus              10
Isuzu               8
Bentley             3
Maserati            2
ISUZU               2
Ferrari             1
Mercedes-AMG        1
Rolls-Royce         1
Force               1
Name: count, dtype: int64

In [528]:
df.model.value_counts()

model
i20            906
Swift Dzire    890
Swift          781
Alto           778
City           757
              ...
Ghibli           1
Altroz           1
GTC4Lusso        1
Aura             1
Gurkha           1
Name: count, Length: 120, dtype: int64

In [529]:
df.seller_type.value_counts()

seller_type
Dealer              9539
Individual          5699
Trustmark Dealer     173
Name: count, dtype: int64

In [530]:
df.fuel_type.value_counts()

fuel_type
Petrol      7643
Diesel      7419
CNG          301
LPG           44
Electric       4
Name: count, dtype: int64

In [531]:
df.transmission_type.value_counts()

transmission_type
Manual       12225
Automatic     3186
Name: count, dtype: int64

In [532]:
df.head(2)

,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.7,796,46.3,5,120000
1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.9,1197,82.0,5,550000

In [533]:
df['model']=df['model'].str.strip()

In [534]:
#removing unnecessary features
df.drop(['car_name'],axis=1,inplace=True)
df.drop(['brand'],axis=1,inplace=True)

In [535]:
print(len(df.columns))

11

In [536]:
#GEtting all types of features
num_features=df.select_dtypes(exclude='object').columns
cat_features=df.select_dtypes(include='object').columns
dis_feature=[feature for feature in df.columns if len(df[feature].unique())<=25]
conti_feature=[feature for feature in df.columns if feature not in dis_feature]
print('number of numerical feature ',len(num_features))
print('number of categorical feature ',len(cat_features))
print('number of  discrete feature ',len(dis_feature))
print('number of continuous feature ',len(conti_feature))

number of numerical feature  7
number of categorical feature  4
number of  discrete feature  5
number of continuous feature  6

In [537]:
#independent and dependent feature
x=df.drop(['selling_price'],axis=1)
y=df['selling_price']

Feature Encoding and Scaling

One Hot Encoding for Columns which had lesser unique values and not ordinal

In [538]:
#Encoding 
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
x['model']=le.fit_transform(x['model'])

In [539]:
x.head(2)

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,7,9,120000,Individual,Petrol,Manual,19.7,796,46.3,5
1,54,5,20000,Individual,Petrol,Manual,18.9,1197,82.0,5

In [540]:
# oh_colum=['seller_type','fuel_type','transmission_type']

In [541]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder,StandardScaler
num_features = x.select_dtypes(exclude="object").columns
onehot_columns = ['seller_type','fuel_type','transmission_type']


prepocessor=ColumnTransformer([('One_hot_encoding',OneHotEncoder(drop='first'),onehot_columns),
                               ('Standardisation',StandardScaler(),num_features)],remainder='passthrough')

In [542]:
x=prepocessor.fit_transform(x)

In [543]:
pd.DataFrame(x)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-1.519714,0.983562,1.247335,-0.000276,-1.324259,-1.263352,-0.403022
1,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-0.225693,-0.343933,-0.690016,-0.192071,-0.554718,-0.432571,-0.403022
2,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.536377,1.647309,0.084924,-0.647583,-0.554718,-0.479113,-0.403022
3,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-1.519714,0.983562,-0.360667,0.292211,-0.936610,-0.779312,-0.403022
4,0.0,0.0,1.0,0.0,0.0,0.0,1.0,-0.666211,-0.012060,-0.496281,0.735736,0.022918,-0.046502,-0.403022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15406,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.508844,0.983562,-0.869744,0.026096,-0.767733,-0.757204,-0.403022
15407,0.0,0.0,0.0,0.0,0.0,1.0,1.0,-0.556082,-1.339555,-0.728763,-0.527711,-0.216964,-0.220803,2.073444
15408,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.407551,-0.012060,0.220539,0.344954,0.022918,0.068225,-0.403022
15409,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.426247,-0.343933,72.541850,-0.887326,1.329794,0.917158,2.073444
15410,0.0,0.0,0.0,0.0,0.0,1.0,0.0,-1.024131,-1.339555,-0.825631,-0.407839,0.020999,0.395884,-0.403022

In [544]:
#train test split
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=42)
x_train.shape, x_test.shape

((12328, 14), (3083, 14))

Model training and Selection

In [545]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,root_mean_squared_error,r2_score
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor

In [546]:
def evaluate_model(true,predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square

In [547]:
models={'Linear Regression':LinearRegression(),
        'Ridge ':Ridge(),
        'Lasso ':Lasso(),
        'KNN regressor':KNeighborsRegressor(),
        'Random Forest Regressor':RandomForestRegressor()}

In [548]:
for i in range(len(list(models))):
    model_name=list(models.keys())[i]
    model=list(models.values())[i]
    model.fit(x_train,y_train)
    
    #training datapoints evaluation
    mae, rmse, r2_square=evaluate_model(y_train,model.predict(x_train))
    print(f'----------------------------------------{model_name}-----------------------------------')
    print('model performance for training   datapoints \n')
    print('mean absolute error {:.4f}'.format(mae))
    print('root mean square error {:.4f}'.format(rmse))
    print('r square {:.4f}'.format(r2_square))
    print('\n')
    mae, rmse, r2_square=evaluate_model(y_test,model.predict(x_test))
    
    print('model performance for test  datapoints \n')
    print('mean absolute error {:.4f}'.format(mae))
    print('root mean square error {:.4f}'.format(rmse))
    print('r square {:.4f}'.format(r2_square))

----------------------------------------Linear Regression-----------------------------------
model performance for training   datapoints

mean absolute error 268101.6071
root mean square error 553855.6665
r square 0.6218


model performance for test  datapoints

mean absolute error 279618.5794
root mean square error 502543.5930
r square 0.6645
----------------------------------------Ridge -----------------------------------
model performance for training   datapoints

mean absolute error 268059.8015
root mean square error 553856.3160
r square 0.6218


model performance for test  datapoints

mean absolute error 279557.2169
root mean square error 502533.8230
r square 0.6645
----------------------------------------Lasso -----------------------------------
model performance for training   datapoints

mean absolute error 268099.2226
root mean square error 553855.6710
r square 0.6218


model performance for test  datapoints

mean absolute error 279614.7461
root mean square error 502542.6696
r square 0.6645
----------------------------------------KNN regressor-----------------------------------
model performance for training   datapoints

mean absolute error 91425.4705
root mean square error 325873.0088
r square 0.8691


model performance for test  datapoints

mean absolute error 112526.3461
root mean square error 253024.3951
r square 0.9150
----------------------------------------Random Forest Regressor-----------------------------------
model performance for training   datapoints

mean absolute error 39544.7089
root mean square error 121378.5085
r square 0.9818


model performance for test  datapoints

mean absolute error 101304.9276
root mean square error 224749.4580
r square 0.9329

HyperParameter tuning

In [557]:
knn_param={'n_neighbors':[2,3,10,20,40,50]}
rf_param={"max_depth": [5, 8, 15, None, 10],
             "max_features": [5, 7, "auto", 8],
             "min_samples_split": [2, 8, 15, 20],
             "n_estimators": [100, 200, 500, 1000]}

In [558]:
randomcv_model=[('knn',KNeighborsRegressor(),knn_param),
       ('rf_param',RandomForestRegressor(),rf_param)]

In [559]:
from sklearn.model_selection import RandomizedSearchCV

model_param = {}
for name, model, params in randomcv_model:
    random = RandomizedSearchCV(estimator=model,
                                   param_distributions=params,
                                   n_iter=100,
                                   cv=3,
                                   verbose=2,
                                   n_jobs=-1)
    random.fit(x_train, y_train)
    model_param[name] = random.best_params_

for model_name in model_param:
    print(f"---------------- Best Params for {model_name} -------------------")
    print(model_param[model_name])

Fitting 3 folds for each of 6 candidates, totalling 18 fits
Fitting 3 folds for each of 100 candidates, totalling 300 fits
---------------- Best Params for knn -------------------
{'n_neighbors': 10}
---------------- Best Params for rf_param -------------------
{'n_estimators': 100, 'min_samples_split': 2, 'max_features': 8, 'max_depth': None}

In [560]:
#retraining moel with best parameter
models={'knn regressor':KNeighborsRegressor(n_neighbors=10),
        'Random forest classifier':RandomForestRegressor(n_estimators=100,min_samples_split=2,max_features=8,max_depth=None)}

In [566]:
for i in range(len(list(models))):
    name=list(models.keys())[i]
    model=list(models.values())[i]
    model.fit(x_train,y_train)
    
      #training datapoints evaluation
    mae, rmse, r2_square=evaluate_model(y_train,model.predict(x_train))
    print(f'----------------------------------------{name}-----------------------------------')
    print('model performance for training   datapoints \n')
    print('mean absolute error {:.4f}'.format(mae))
    print('root mean square error {:.4f}'.format(rmse))
    print('r square {:.4f}'.format(r2_square))
    print('\n')
    mae, rmse, r2_square=evaluate_model(y_test,model.predict(x_test))
    
    print('model performance for test  datapoints \n')
    print('mean absolute error {:.4f}'.format(mae))
    print('root mean square error {:.4f}'.format(rmse))
    print('r square {:.4f}'.format(r2_square))

----------------------------------------knn regressor-----------------------------------
model performance for training   datapoints

mean absolute error 103472.0474
root mean square error 363460.7706
r square 0.8371


model performance for test  datapoints

mean absolute error 117496.2131
root mean square error 263888.0623
r square 0.9075
----------------------------------------Random forest classifier-----------------------------------
model performance for training   datapoints

mean absolute error 39492.6973
root mean square error 129239.9565
r square 0.9794


model performance for test  datapoints

mean absolute error 99116.7083
root mean square error 215105.7955
r square 0.9385